#main{
    text-align: center;
    color: rgb(6, 75, 48);
    font-family: 'Segoe UI';
  }
#cabecera{
    text-align: center;
    color: rgb(6, 75, 48);
    font-family: 'Brush Script MT';
  }
section {
    display: -webkit-flex;
    display: flex;
  }
body {
    background-color: gainsboro;
  }
article {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-color: rgb(14, 75, 41);
    padding: 10px;
  }
footer {
    background-color: rgb(14, 75, 41);
    text-align: center
  }
#map {
    height: 80%;
    width: 80%;
  }
.titulo {
    color: whitesmoke;
    font-family: 'Segoe UI';
    text-align: center
  }
.texto {
    color: beige;
    font-family: 'Brush Script MT';
    font-size: 20;
  }
.instruct {
    color: black;
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 14
  }
  