#main{
    text-align: center;
    color: rgb(6, 75, 48);
    font-family: 'Segoe UI';
  }
#cabecera{
    text-align: center;
    color: rgb(6, 75, 48);
    font-family: 'Brush Script MT';
  }
  #container {
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 2px solid black;
    margin: 0 auto;
}
section {
    display: -webkit-flex;
    display: flex;
  }
body {
    background-color: gainsboro;
  }
article {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-color: rgb(14, 75, 41);
    padding: 10px;
  }
footer {
    background-color: rgb(14, 75, 41);
    text-align: center
  }
#map {
    height: 80%;
    width: 80%;
  }
.titulo {
    color: whitesmoke;
    font-family: 'Segoe UI';
    text-align: center
  }
.texto {
    color: beige;
    font-family: 'Brush Script MT';
    font-size: 20;
  }
.instruct {
    color: black;
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 14
  }
  .galeria {
    height: calc( 460px + 3em);
    width: 600px;
    margin:1em auto;
    border: 1px solid #555;
    position: relative;  
  }
  
  .galeria img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s;
  }
  
  .galeria input[type=radio] {
    position: relative;
    bottom: calc(-500px - 1.5em);
    left: .5em;
  }
  
  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(6):checked ~ img:nth-of-type(6) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(7):checked ~ img:nth-of-type(7) {
    opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(8):checked ~ img:nth-of-type(8) {
    opacity: 1;
  }
  .galeria input[type=radio]:nth-of-type(9):checked ~ img:nth-of-type(9) {
    opacity: 1;
  }
  